@import "color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  color: $text_color;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: $link_hover;
}
ul {
  list-style: none;
}
.pt-50 {
  padding-top: 50px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.bg-gray {
  background-color: #f2f2f2;
}
.box-btn {
  background-color: $btn_back;
  text-transform: uppercase;
  color: $white;
  padding: 15px 30px;
  display: inline-block;
  font-weight: 400;
}
