.blog-area {
  background-color: $light_gray;
}

.single-blog {
  background-color: #fff;
  box-shadow: 3px 4px 15px #f2f2f2;
  border-radius: 3px;
}
.blog-img img {
  width: 100%;
  transition: 0.3s;
}
.blog-img {
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.blog-img a {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  background-color: $btn_back;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.single-blog:hover img {
  transform: scale(1.1) rotate(3deg);
}

.blog-content {
  padding: 0 20px 20px 30px;
}
.blog-content h4 {
  font-size: 22px;
  margin: 15px 0;
}
.blog-content h4 a {
  margin-top: 0;
  color: #333;
  line-height: 30px;
}
.blog-content a {
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
}
.blog-meta a {
  text-transform: capitalize;
}
