.services {
}
.single-service {
  text-align: center;
  padding: 25px 30px;
}
.single-service h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-weight: 700;
}
.single-service p {
  margin: 20px 0;
}
.single-service a {
  padding: 10px 20px;
}
